body {
  background-color: #fffbfe;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.primary-button {
  border: 1px solid white;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background-color: #545e75;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.primary-button:hover {
  color: #0e83cd;
  background: #fff;
}

input {
  border: none;
  border-bottom: 2px solid #82a0bc
}